name: First Workflow
on: 
  pull_request:
    types:
      - opened
    branches:
      - 'NOTES-/**'

jobs:
  explore-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Print a greeting
        run: echo "Hello, world! This job is running on ${{ runner.os }}."